:root {
    --lightblue: #92CCCD;
    --darkblue: #445876;
    --grey: #31343D;
    --lightgrey: #6D7280;
}

* {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

body {
    background-color: #EDEDF6;
}

nav {
    background-color: var(--grey);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    background-color: var(--lightblue);
    color: var(--grey);
    font-size: 300%;
    display: inline-block;
    padding: 5px 5px 5px 50px;
    margin: 5px 0 10px 0;
}
nav ul {
    list-style: none;
    display: flex;
    font-size: 125%;
    margin: 5px 75px 10px 0;
}

nav a {
    display: block;
    padding: 8px;
    margin: 5px;
    text-decoration: none;
    color: var(--lightblue);
    border-bottom: 5px solid var(--lightblue);
}

.hero {
    background-image: url("../images/flat-lay-cup-black-coffee-260nw-1283360350.jpg");
    background-color: #EDEDF6;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.subtitle h3 {
    position: absolute;
    top: 250px;
    left: 200px;
    background-color: var(--lightblue);
    padding: 20px;
    color: var(--grey);
    font-size: 200%;
    font-weight: bold;
} 

.heading {
    display: flex;
    flex-direction: column;
}

.heading h2 {
    color: var(--darkblue);
    font-size: 300%;
    padding: 10px 20px 10px 10px;
    align-self: flex-start;
    margin-left: 100px;
    margin-top: 50px;
    border-right: 5px solid var(--darkblue);
    width: 15%;
}

p {
    color: var(--lightgrey);;
}

 .aboutContent {
    display: flex;
    position: relative;
    padding-left: 40px;
    margin-left: 380px;
    margin-right: 75px;
    border-left: 5px solid var(--darkblue);
    position: absolute;
    bottom: 310px;
}

#work {
    margin-bottom: 1350px;
}

.workContent {
    border-left: 5px solid var(--darkblue);
}

.first {
    background-image: url("../images/gradienta-gwE9vXSi7Xw-unsplash.jpg");
    background-repeat: no-repeat;
    height: 667px;
    width: 1000px;
    background-color: #EDEDF6;
    border: 5px solid var(--lightblue);
    position: absolute;
    top: 690px;
    left: 500px;
}

.second {
    background-image: url("../images/corinne-kutz-tMI2_-r5Nfo-unsplash.jpg");
    background-repeat: no-repeat;
    height: 300px;
    width: 400px;
    background-color: #EDEDF6;
    border: 5px solid var(--lightblue);
    position: absolute;
    top: 1400px;
    left: 500px;

}

.third {
    background-image: url("../images/clemence-taillez-GHW0uAql5WQ-unsplash.jpg");
    background-repeat: no-repeat;
    height: 300px;
    width: 400px;
    background-color: #EDEDF6;
    border: 5px solid var(--lightblue);
    position: absolute;
    top: 1400px;
    left: 1100px;
}

.fourth {
    background-image: url("../images/mitchell-luo-oLw9R4GxGug-unsplash.jpg");
    background-repeat: no-repeat;
    height: 300px;
    width: 400px;
    background-color: #EDEDF6;
    border: 5px solid var(--lightblue);
    position: absolute;
    top: 1720px;
    left: 1100px;
}

.fifth {
    background-image: url("../images/phil-botha-6SiixipeG-c-unsplash.jpg");
    background-repeat: no-repeat;
    height: 300px;
    width: 400px;
    background-color: #EDEDF6;
    border: 5px solid var(--lightblue);
    position: absolute;
    top: 1720px;
    left: 500px;
}

.first:hover,
.second:hover,
.third:hover,
.fourth:hover,
.fifth:hover {
    filter: saturate(200%);
    transition: 0.5s;
}

/*.workContent {
    background-image: url("../images/aron-visuals-weotZsrx3_Q-unsplash.jpg"), url("../images/clemence-taillez-GHW0uAql5WQ-unsplash.jpg"), url("../images/gradienta-gwE9vXSi7Xw-unsplash.jpg"), url("../images/jason-leung-7M38AnOGo_4-unsplash.jpg"), url("../images/lydia-kasianna-eL-xDSP8tgc-unsplash.jpg");
    background-repeat: no-repeat, no-repeat;
    height: 300px;
    width: 300px;
    background-color: #EDEDF6;
    border: 5px solid var(--lightblue);
}

.workContent {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.workContent img {
    position: relative;
    width: 300px;
    bottom: 150px;
    border: 5px solid var(--lightblue)
}*/

.workSub {
    position: absolute;
    background-color: var(--lightblue);
    padding: 20px;
    bottom: 30px;
}

.workSub h3 {
    font-size: 150%;
    font-weight: bold;
    color: var(--grey);
}

 .contactContent ul {
    list-style: none;
    display: flex;
    position: relative;
    font-size: 125%;
    margin: 5px 75px 10px 0;
    border-left: 5px solid var(--darkblue);
    margin-left: 380px;
    margin-right: 75px;
    bottom: 120px;
}

.contactContent a {
    display: block;
    padding: 8px;
    margin: 5px;
    margin-left: 90px;
    text-decoration: none;
    color: var(--darkblue);
    border-bottom: 5px solid var(--darkblue);
} 