:root {
    --lightblue: #92CCCD;
    --darkblue: #445876;
    --grey: #31343D;
}

* {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

body {
    background-color: #EDEDF6;
}

nav {
    background-color: var(--grey);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    background-color: var(--lightblue);
    color: var(--grey);
    font-size: 300%;
    display: inline-block;
    padding: 5px 5px 5px 50px;
    margin: 5px 0 10px 0;
}
nav ul {
    list-style: none;
    display: flex;
    font-size: 125%;
    margin: 5px 75px 10px 0;
}

nav a {
    display: block;
    padding: 8px;
    margin: 5px;
    text-decoration: none;
    color: var(--lightblue);
    border-bottom: 5px solid var(--lightblue);
}

.image {
    position: relative;
    text-align: center;
    color: white;
}

.image img {
    width: 100%;
}

.subtitle {
    position: absolute;
    top: 250px;
    left: 200px;
    background-color: var(--lightblue);
    padding: 20px;
    color: var(--grey);
    font-size: 200%;
    font-weight: bold;
}

.heading {
    display: flex;
    flex-direction: column;
}

.heading h2 {
    color: var(--darkblue);
    font-size: 300%;
    padding: 10px 20px 10px 10px;
    align-self: flex-start;
    margin-left: 100px;
    margin-top: 50px;
    border-right: 5px solid var(--darkblue);
    width: 15%;
}

 .aboutContent {
    display: flex;
    position: relative;
    padding-left: 40px;
    color: #6D7280;
    margin-left: 380px;
    margin-right: 75px;
    bottom: 210px;
    border-left: 5px solid var(--darkblue);
}

.workContent img {
    position: relative;
    width: 300px;
    bottom: 150px;
    border: 5px solid var(--lightblue)
}

 /*.contactContent ul {
    list-style: none;
    display: flex;
    position: relative;
    font-size: 125%;
    margin: 5px 75px 10px 0;
    border-left: 5px solid var(--darkblue);
    margin-left: 380px;
    margin-right: 75px;
    bottom: 200px;
}

.contactContent a {
    display: block;
    padding: 8px;
    margin: 5px;
    margin-left: 90px;
    text-decoration: none;
    color: var(--darkblue);
    border-bottom: 5px solid var(--darkblue);
} */